/**
 *
 * ---------------------------------------------------------
 * CODESTAR FRAMEWORK RTL CSS MAP
 * ---------------------------------------------------------
 *
 * 01. Base
 *     01. 01. Header
 *     01. 02. Header Buttons
 *     01. 03. Navigation
 *     01. 04. Content
 *     01. 05. Section
 *     01. 06. Show All Settings
 *     01. 07. Search Input
 *     01. 08. Copyright
 *     01. 09. Metabox
 * 02. Fields
 *     02. 01. Field: typography
 *     02. 02. Field: checkbox, radio
 *     02. 03. Field: switcher
 *     02. 04. Field: upload
 *     02. 05. Field: group
 *     02. 06. Field: repeater
 *     02. 07. Field: help
 *     02. 08. Field: icon
 *     02. 09. Field: gallery
 *     02. 10. Field: sorter
 *     02. 11. Field: tabbed
 *     02. 12. Field: media
 *     02. 13. Field: notice
 *     02. 14. Field: border, spacing, dimensions
 *     02. 15. Field: background
 *     02. 16. Field: spinner
 *     02. 17. Field: slider
 *     02. 18. Field: button_set
 *     02. 19. Field: link_color
 *     02. 20. Field: color_group
 *     02. 21. Field: palette
 *     02. 22. Field: accordion
 *     02. 23. Field: date
 *     02. 24. Field: map
 *     02. 25. Field: sortable
 *     02. 26. Field: number
 * 03. Taxonomy
 * 04. Profile
 * 05. Nav Menu
 * 06. Modal
 * 07. Customizer
 * 08. Responsive
 * 09. Others
 *
 * ---------------------------------------------------------
 *
 */
/**
 * 01. Base
 */
.eventful-options {
  margin-left: 20px;
  margin-right: 0;
}

/**
 * 01. 01. Header
 */
.eventful-header h1 {
  float: right;
}
.eventful-header fieldset {
  float: left;
}

/**
 * 01. 02. Header Buttons
 */
.eventful-buttons {
  float: left;
  direction: ltr;
}

.eventful-header-left {
  float: right;
}

.eventful-header-right {
  float: left;
}

/**
 * 01. 03. Navigation
 */
.eventful-nav {
  float: right;
}
.eventful-nav ul {
  clear: right;
}
.eventful-nav ul li .eventful-active:after {
  right: auto;
  left: 0;
  border-left-color: #fff;
  border-right-color: transparent;
}
.eventful-nav ul li .eventful-arrow:after {
  content: "\f053";
  right: auto;
  left: 10px;
}
.eventful-nav ul li.eventful-tab-expanded .eventful-arrow:after {
  transform: rotate(-90deg);
}
.eventful-nav ul ul li a {
  padding-right: 25px;
  padding-left: 15px;
}
.eventful-nav ul ul:before {
  left: auto;
  right: 15px;
}
.eventful-nav .eventful-tab-icon {
  margin-left: 5px;
  margin-right: 0;
}

.eventful-nav-background {
  left: auto;
  right: 0;
}

/**
 * 01. 04. Content
 */
.eventful-content {
  margin-left: 0;
  margin-right: 225px;
}

/**
 * 01. 05. Section
 */
.eventful-sections {
  float: right;
}

/**
 * 01. 06. Show all options
 */
.eventful-show-all .eventful-content {
  margin-right: 0;
  overflow: hidden;
}

.eventful-expand-all {
  float: right;
  right: auto;
  left: 40px;
  margin-right: 0;
  margin-left: 4px;
}

/**
 * 01. 07. Search Input
 */
.eventful-search {
  float: right;
}
.eventful-search input {
  margin: 0 0 0 5px;
}

/**
 * 01. 08. Copyright
 */
.eventful-copyright {
  float: right;
}

/**
 * 01. 09. Metabox
 */
.eventful-metabox {
  margin: -6px -12px -12px -12px;
}
.eventful-metabox .eventful-section-title {
  padding: 20px;
}

.eventful-section-title .eventful-section-icon {
  margin-left: 5px;
  margin-right: 0;
}

/**
 * 02. Fields
 */
.eventful-field .eventful-title {
  float: right;
}
.eventful-field .eventful-fieldset {
  float: left;
}

.eventful-pseudo-field {
  padding: 0 0 0 5px !important;
}

/**
 * 02. 01. Field: typography
 */
.eventful-field-typography select {
  margin: 0;
  width: 100%;
}
.eventful-field-typography .eventful--blocks-inputs .eventful--blocks {
  flex-direction: row-reverse;
}
.eventful-field-typography .eventful--unit {
  left: 4px;
  right: auto;
}

/**
 * 02. 02. Field: checkbox, radio
 */
.eventful-field-checkbox ul ul li,
.eventful-field-radio ul ul li {
  margin-left: 0;
  margin-right: 8px;
}
.eventful-field-checkbox ul ul li:first-child,
.eventful-field-radio ul ul li:first-child {
  margin-right: 0;
}
.eventful-field-checkbox .eventful--inline-list li,
.eventful-field-radio .eventful--inline-list li {
  margin-right: 0;
  margin-left: 15px;
}
.eventful-field-checkbox .eventful--text,
.eventful-field-radio .eventful--text {
  margin-left: 0;
  margin-right: 5px;
}

/**
 * 02. 03. Field: switcher
 */
.eventful-field-switcher .eventful--switcher {
  float: right;
}
.eventful-field-switcher .eventful--label {
  float: right;
  margin-left: 0;
  margin-right: 5px;
}

/**
 * 02. 04. Field: upload
 */
.eventful-field-upload .eventful--remove,
.eventful-field-upload .eventful--button {
  margin-left: 0;
  margin-right: 5px;
}

/**
 * 02. 05. Field: group
 */
.eventful-field-group .eventful-cloneable-title {
  padding: 15px 10px 15px 65px;
}
.eventful-field-group .eventful-cloneable-helper {
  right: auto;
  left: 10px;
}

/**
 * 02. 06. Field: repeater
 */
.eventful-field-repeater .eventful-repeater-helper {
  border-left: 0;
  border-right: 1px solid #eee;
}

/**
 * 02. 07. Field: help
 */
.eventful-help {
  right: auto;
  left: 5px;
}

/**
 * 02. 08. Field: icon
 */
.eventful-field-icon .button {
  margin-right: 0;
  margin-left: 5px;
}
.eventful-field-icon .eventful-icon-preview i {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 02. 09. Field: gallery
 */
.eventful-field-gallery ul li {
  margin-right: 0;
  margin-left: 5px;
}
.eventful-field-gallery .button {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 02. 11. Field: tabbed
 */
.eventful-field-tabbed .eventful-tabbed-nav .eventful--icon {
  padding-right: 0;
  padding-left: 5px;
}
.eventful-field-tabbed .eventful-tabbed-nav a {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 02. 12. Field: media
 */
.eventful-field-media .button {
  margin-left: 0;
  margin-right: 7px;
}
.eventful-field-media .hidden + .button {
  margin-right: 0;
}

/**
 * 02. 13. Field: notice
 */
.eventful-notice {
  border-left: none;
  border-right-style: solid;
  border-right-width: 4px;
}

/**
 * 02. 14. Field: border, spacing, dimensions
 */
.eventful-field-dimensions .eventful--input,
.eventful-field-dimensions .eventful-fieldset,
.eventful-field-spacing .eventful--input,
.eventful-field-spacing .eventful-fieldset,
.eventful-field-border .eventful--input,
.eventful-field-border .eventful-fieldset {
  direction: ltr;
}
.eventful-field-dimensions .eventful--inputs,
.eventful-field-dimensions .eventful--color,
.eventful-field-spacing .eventful--inputs,
.eventful-field-spacing .eventful--color,
.eventful-field-border .eventful--inputs,
.eventful-field-border .eventful--color {
  float: right;
}
.eventful-field-dimensions .eventful--color,
.eventful-field-spacing .eventful--color,
.eventful-field-border .eventful--color {
  margin-right: 4px;
  direction: rtl;
}

/**
 * 02. 15. Field: background
 */
.eventful-field-background .eventful--block {
  float: right;
}
.eventful-field-background .eventful--select,
.eventful-field-background .eventful--media {
  padding-right: 0;
}
.eventful-field-background .eventful--title {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 02. 16. Field: spinner
 */
.eventful-field-spinner .eventful--spin {
  float: right;
  direction: ltr;
}

/**
 * 02. 17. Field: slider
 */
.eventful-field-slider .eventful-slider-ui {
  direction: ltr;
  margin-right: 0;
  margin-left: 15px;
}
.eventful-field-slider .eventful--input {
  direction: ltr;
}

/**
 * 02. 18. Field: button_set
 */
.eventful-field-button_set .eventful--button-group {
  float: right;
}

/**
 * 02. 19. Field: link_color
 */
.eventful-field-link_color .eventful--left {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

/**
 * 02. 20. Field: color_group
 */
.eventful-field-color_group .eventful--left {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

/**
 * 02. 21. Field: palette
 */
.eventful-field-palette .eventful--palette {
  margin-right: 0;
  margin-left: 10px;
}

/**
 * 02. 22. Field: accordion
 */
.eventful-field-accordion .eventful--icon {
  margin-right: 0;
  margin-left: 2px;
}

/**
 * 02. 23. Field: date
 */
.eventful-field-date .eventful--to {
  margin-left: 0;
  margin-right: 7px;
}

/**
 * 02. 24. Field: map
 */
.eventful-field-map .eventful--map-input:last-child {
  padding-left: 0;
  padding-right: 10px;
}

/**
 * 02. 25. Field: sortable
 */
.eventful-field-sortable .eventful-sortable-helper {
  border-left: none;
  border-right: 1px solid #eee;
}

/**
 * 02. 26. Field: number
 */
.eventful-field-number .eventful--wrap {
  float: right;
}
.eventful-field-number .eventful--unit {
  left: 4px;
  right: auto;
}

/**
 * 03. Taxonomy
 */
.eventful-taxonomy-add-fields {
  margin-right: 0;
  margin-left: 30px;
}
.eventful-taxonomy-add-fields .eventful-field > .eventful-fieldset > .eventful-help {
  left: -5px;
  right: auto;
}

.eventful-taxonomy-edit-fields {
  margin-right: 0;
  margin-left: 35px;
}
.eventful-taxonomy-edit-fields .eventful-field > .eventful-fieldset > .eventful-help {
  right: auto;
  left: -5px;
}

/**
 * 04. Profile
 */
.eventfulfile-options > h2 > .fa {
  padding-right: 0;
  padding-left: 7px;
}
.eventfulfile-options > .eventful-field > .eventful-fieldset > .eventful-help {
  left: -5px;
  right: auto;
}

/**
 * 05. Nav Menu
 */
.eventful-nav-menu-options > .eventful-fields {
  margin-left: 0;
  margin-right: -10px;
}

.eventful-nav-menu-title {
  padding-left: 14px;
  padding-right: 12px;
}

.eventful-nav-menu-icon {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 06. Modal
 */
.eventful-modal-content .eventful-field {
  padding: 15px 15px 15px 30px;
}

.eventful-modal-title {
  padding: 0 16px 0 36px;
}

.eventful-modal-close {
  right: auto;
  left: 0;
}

/**
 * 07. Customizer
 */
.control-section .eventful-field .eventful-fieldset {
  margin-right: 0;
}

/**
 * 08. Responsive
 */
@media only screen and (max-width: 1200px) {
  .eventful-metabox .eventful-field .eventful-fieldset {
    margin-left: 0;
  }
}
@media only screen and (max-width: 782px) {
  .eventful .eventful-fieldset,
  .eventful .eventful-content {
    margin-right: 0;
  }
}
/**
 * 09. Others
 */
.eventful-field .eventful--transparent-slider {
  margin-left: 0;
  margin-right: 2px;
}
.eventful-field .eventful--transparent-slider .ui-slider-handle {
  margin: 0 -11px;
}
.eventful-field .eventful--transparent-offset {
  background-position: center right;
}
.eventful-field .eventful--transparent-text {
  right: auto;
  left: 10px;
}
