/**
 * 12. Responsive
 */
@media only screen and (max-width:1200px){

  .eventful-metabox{

    .eventful-field{

      .eventful-title{
        float: none;
        width: 100%;
        margin-bottom: 10px;
      }

      .eventful-fieldset{
        float: none;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width:782px){

  .eventful-header-inner{
    text-align: center;

    h1{
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .eventful-form-result{
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .eventful-search,
  .eventful-header-right,
  .eventful-header-left{
    width: 100%;
  }

  .eventful-search{
    text-align: center;
    margin-bottom: 15px;
  }

  .eventful-footer{
    text-align: center;
  }

  .eventful-buttons{
    float: none;
  }

  .eventful-copyright{
    float: none;
    margin-top: 10px;
  }

  .eventful-nav,
  .eventful-expand-all,
  .eventful-reset-section,
  .eventful-nav-background{
    display: none !important;
  }

  .eventful-nav-normal + .eventful-content{
    margin-left: 0;
  }

  .eventful-section-title,
  .eventful-section{
    display: block !important;
  }

  .eventful-field{

    .eventful-title{
      float: none;
      width: 100%;
      margin-bottom: 10px;
    }

    .eventful-fieldset{
      float: none;
      width: 100%;
    }
  }

  .eventful-field-color{

    .button.wp-picker-clear{
      padding: 0 8px;
      line-height: 2.14285714;
      min-height: 32px;
    }
  }

  .eventfulfile-options,
  .eventful-taxonomy-edit-fields{

    > .eventful-field{

      > .eventful-title{
        float: none;
        width: 100%;
        margin-bottom: 10px;
      }

      > .eventful-fieldset{
        float: none;
        width: 100%;
      }
    }
  }

  .eventful-nav-menu-options{

    > .eventful-fields{
      margin-left: -10px;
      margin-right: -10px;

      > .eventful-field{
        padding: 10px;
      }
    }
  }
}

@media only screen and (max-width: 782px) {

  .eventful-modal{

    .eventful-modal-inner{
      width: 90%;
    }
  }
}

@media only screen and (max-height: 750px) {

  .eventful-modal{

    .eventful-modal-inner{
      height: auto;
    }

    .eventful-modal-content{
      height: calc(100vh - 200px);
    }
  }
}
