/**
 * This file provides CSS for the admin dashboard.
 */

/* Help Page */
.text-center {
    text-align: center;
  }
  
  div.ta-efp-help .wp-badge {
    border: none;
    background: url(../img/sps-badge.png) right no-repeat;
    background-size: 100px 100px;
    box-shadow: none;
    height: auto;
    top: -75px;
  }
  
  .about-wrap.ta-efp-help [class$="-col"] {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .about-wrap.ta-efp-help [class$="-col"] .col {
    flex: 1;
    align-self: flex-start;
  }
  .about-wrap.plugin-section {
    margin: 25px 0px 0px;
  }
  .about-wrap.ta-efp-help .feature-section .col {
    margin-top: 40px;
  }
  
  .about-wrap.ta-efp-help [class$="-col"] .col + .col {
    margin-left: 20px;
  }
  
  .wrap.about-wrap.ta-efp-help .headline-feature.feature-video {
    position: relative;
    margin: 40px 0;
    padding-bottom: 56.25%;
    width: 100%;
    max-width: 100%;
    height: 0;
    text-align: center;
  }
  
  div.ta-efp-help .headline-feature.feature-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  div.ta-efp-help .plugin-section .ta-plugin-section-title h2 {
    font-size: 2.2em;
    color: #32373c;
    font-weight: 400;
  }
  div.ta-efp-help .plugin-section .ta-plugin-section-title h4 {
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    color: #555d66;
    margin-top: 15px;
    margin-bottom: 40px;
  }
  
  div.ta-efp-help .feature-section .ta-efp-feature {
    padding: 20px 20px;
    border: 1px solid #ddd;
  }
  
  div.ta-efp-help .feature-section .ta-efp-feature h3 {
    font-size: 16px;
    margin-top: 18px;
  }
  
  div.ta-efp-help .feature-section i.ta-efp-font-icon {
    font-size: 30px;
    display: block;
    color: #263ad0;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
  }
  .ta-efp-help .ta-efp-plugin {
    border: 1px solid #ddd;
  }
  .ta-efp-help .ta-efp-plugin-content {
    padding: 0 20px 20px;
  }
  .ta-efp-help .ta-efp-plugin-content h3 {
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: 500;
  }
  .ta-efp-help .feature-section .ta-efp-feature,
  .ta-efp-help .ta-efp-plugin {
    background-color: #fff;
  }
  /* Preloader */
  #ta_eventful_view_options .efp-metabox {
    min-height: 300px;
    z-index: 999;
    background-image: url(../img/preloader.gif);
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center 65%;
  }
  #ta_eventful_view_options .efp-nav-metabox li {
    opacity: 0;
  }
  /* Shortcode sidebar */
  .efp-after-copy-text {
    bottom: 0;
    opacity: 0;
    z-index: 9999999;
    position: fixed;
    width: 230px;
    left: 180px;
    text-align: center;
    padding: 15px 15px;
    line-height: 15px;
    color: #fff;
    border-radius: 3px;
    background: #32373C;
    border: 1px solid #32373C;
  }
  .efp-after-copy-text .fa-check-circle {
    font-size: 14px;
    margin-right: 2px;
    color: #5db62e
  }
  
  span.efp-shortcode-selectable {
    background-color: #eeeeee;
    padding: 10px 15px 10px 30px;
    display: inline-block;
    border: 1px solid #e2e2e2;
    cursor: pointer;
    border-radius: 3px;
    word-break: break-word;
    position: relative;
    width: 80%;
  }
  span.efp-shortcode-selectable::after {
    content: url(../img/copy.svg);
    width: 16px;
    left: 10px;
    top: 50%;
    position: absolute;
    margin-top: -6px;
  }
  .efp-scode-wrap-side p {
    margin-top: 0;
  }
  .efp-scode-wrap-side {
    margin-top: 0;
    margin-bottom: 16px;
    overflow: hidden;
  }
  .efp-scode-wrap-side .efp-sc-title {
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 1.2em;
  }
  .post-type-eventful .postbox-header .handle-actions .handle-order-lower,
  .post-type-eventful
    .postbox-header
    .handle-actions
    .handle-order-higher {
    display: none;
  }
  .post-type-eventful .misc-pub-section.misc-pub-visibility,
  .post-type-eventful .misc-pub-section.curtime.misc-pub-curtime{
    display: none;
  }
  #ta_eventful_layouts .postbox-header{
      border: none;
  }
  