.eful__item__btn {
  padding: 6px 20px;
  display: inline-block;
}
/* Extra CSS */

.eventful-demo-section {
  max-width: 1200px;
  margin: 0 auto;
}

.eventful-section-padding {
  padding: 80px 0;
}

/* Common CSS */
.eventful-align-left {
  text-align: left;
}
.eventful-align-center {
  text-align: center;
}
.eventful-align-right {
  text-align: right;
}
.ta-eventful-section {
  color: #444;
}

.entry .entry-content .ta-eventful-section a,
.ta-eventful-section a {
  text-decoration: none;
  transition: all 0.33s;
}

.ta-eventful-section img {
  max-width: 100%;
  vertical-align: middle;
}

.ta-eventful-section * {
  box-sizing: border-box;
}

.ta-eventful-section .swiper-container {
  position: initial;
  overflow: hidden;
}

.eful__item .eful__item--thumbnail {
  position: relative;
  /* margin-bottom: 15px;
      order: 1; */
}

.eful__item .eful__item--thumbnail img {
  max-width: 100%;
  transition: ease all 0.3s;
  height: auto;
}

.eful__item .eful__item--archive li {
  list-style: none;
  color: #fff;
  text-decoration: none;
  background-color: #263ad0;
  padding: 6px 12px;
  border-radius: 7px;
  font-size: 14px;
}
.eful__item .eful__item--archive a {
  color: #fff;
}

.eful__item .eful__item--archive {
  position: absolute;
  top: 15px;
  left: 12px;
  z-index: 2;
}

.eful__item .eful__item--archive.top_right {
  top: 15px;
  right: 12px;
  left: auto;
}
.eful__item .eful__item--archive.top_center {
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.eful__item .eful__item--archive.bottom_left {
  top: auto;
  bottom: 15px;
  left: 12px;
}

.eful__item .eful__item--archive.bottom_right {
  top: auto;
  bottom: 15px;
  right: 12px;
  left: auto;
}
.eful__item .eful__item--archive.bottom_center {
  top: auto;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.eful__item .eful__item--title {
  margin: 0;
  font-size: 15px;
}

.eful__item .eful__item--title a,
.eful__item .eful__item--title {
  font-size: 20px;
  margin-top: 0;
  color: #111;
  font-weight: 700;
  word-break: break-word;
  text-decoration: none;
}

.eful__item .eful__item--meta ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.eful__item .eful__item--meta ul li {
  display: inline-block;
  margin: 0 5px 5px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
.eful__item .eful__item--meta ul li span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.eful__item .eful__item--meta ul li img,
.eful__item .eful__item--meta ul li i {
  margin-right: 3px;
  float: left;
}

.eful__item .eful__item--meta ul li img {
  margin-bottom: -4px;
}

.eful__item .eful__item--meta ul li a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  box-shadow: none;
}

.eful__item .eful__item__content {
  margin-bottom: 16px;
}

.eful__item .eful__item__content p:first-of-type {
  margin-top: 0;
}

.eful__item .eful__item__content p:last-of-type {
  margin-bottom: 0;
}

.eful__item .eful__item__content .eful__item__content__readmore {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.eful__item .eful__item__content .eful__item__content__readmore a {
  display: inline-block;
  border: 1px solid;
  padding: 7px 12px;
  box-shadow: 0 0 0;
  text-decoration: none;
}

/* Social Color */

.eventful .eful__item__socail-share a.eventful-twitter i {
  background-color: #55acee;
}

.eventful .eful__item__socail-share a.eventful-facebook i {
  background-color: #3b5999;
}

.eventful .eful__item__socail-share a.eventful-linkedin i {
  background-color: #0077b5;
}

.eventful .eful__item__socail-share a.eventful-xing i {
  background: #1a7576;
}

.eventful .eful__item__socail-share a.eventful-pocket i {
  background: #ef4056;
}

.eventful .eful__item__socail-share a.eventful-digg i {
  background: #262626;
}

.eventful .eful__item__socail-share a.eventful-envelope i {
  background: #7d7d7d;
}

.eventful .eful__item__socail-share a.eventful-instagram i {
  background: #e4405f;
}

.eventful .eful__item__socail-share a.eventful-vk i {
  background-color: #4c75a3;
}

.eventful .eful__item__socail-share a.eventful-tumblr i {
  background-color: #34465d;
}

.eventful .eful__item__socail-share a.eventful-pinterest i {
  background-color: #bd081c;
}

.eventful .eful__item__socail-share a.eventful-reddit i {
  background-color: #ff5700;
}

.eventful .eful__item__socail-share a.eventful-blogger i {
  background-color: #f57d00;
}

.eventful .eful__item__socail-share a.eventful-whatsapp i {
  background-color: #25d366;
}

/* Social Share css */

.eventful .eful__item__socail-share {
  margin-bottom: 10px;
}

.eventful .eful__item__socail-share a {
  display: inline-block;
  text-align: center;
  margin-right: 1px;
  color: #fff;
  margin-bottom: 5px;
}

.eventful .eful__item__socail-share a i {
  height: 30px;
  width: 30px;
  font-size: 16px;
  line-height: 30px;
  background-color: #55acee;
  border-radius: 50%;
}

.eventful .eful__item__socail-share a.eful_circle i {
  border-radius: 50%;
}

.eventful .eful__item__socail-share a.icon_only i {
  border-radius: 0%;
  background-color: transparent;
  border: none;
  color: #666;
}

.eventful .eful__item__socail-share a.eful_square i {
  border-radius: 0%;
}

.eventful .eful__item__socail-share a.eful_rounded i {
  border-radius: 3px;
}

/* Carousel */

.eful_same_height .item,
.eventful-carousel-wrapper.eful_same_height .swiper-slide {
  height: auto;
}

.eful_same_height .eful__item,
.eventful-carousel-wrapper.eful_same_height .swiper-slide .eful__item {
  height: 100%;
}

.eventful-carousel-wrapper .bottom_center.ta-eventful-carousel {
  padding-bottom: 72px;
}

.eventful-carousel-wrapper {
  position: relative;
}

.eventful-carousel-wrapper .eventful-button-prev,
.eventful-carousel-wrapper .eventful-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none;
  background-size: auto;
  font-size: 25px;
  height: 33px;
  width: 33px;
  margin-top: 16px;
  /* border: 2px solid #444; */
  text-align: center;
  /* color: #444; */
  line-height: 31px;
  -webkit-transition: 0.3s;
}

.eventful-carousel-wrapper .eventful-button-prev.top_right,
.eventful-carousel-wrapper .eventful-button-next.top_right {
  top: 0;
  right: 0;
}

.eventful-carousel-wrapper .eventful-button-prev.top_right {
  right: 42px;
  left: auto;
}

.eventful-carousel-wrapper .eventful-button-prev.top_center,
.eventful-carousel-wrapper .eventful-button-next.top_center {
  top: 0;
  left: calc(50% + 5px);
  text-align: center;
}

.eventful-carousel-wrapper .eventful-button-prev.top_center {
  right: auto;
  left: calc(50% - 40px);
}

.eventful-carousel-wrapper .eventful-button-prev.top_left,
.eventful-carousel-wrapper .eventful-button-next.top_left {
  top: 0;
  left: 0;
  text-align: center;
}

.eventful-carousel-wrapper .eventful-button-next.top_left {
  right: auto;
  left: 40px;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #888;
}

.eventful-carousel-wrapper.center .swiper-slide .eful__item {
  transform: scale(0.9);
  opacity: 0.8;
  transition: 0.22s all;
}

.eventful-carousel-wrapper.center .swiper-slide.swiper-slide-active .eful__item {
  transform: scale(1.1);
  opacity: 1;
}

.eventful-carousel-wrapper .swiper-container-fade .swiper-slide,
.eventful-carousel-wrapper .swiper-container-cube .swiper-slide,
.eventful-carousel-wrapper .swiper-container-flip .swiper-slide {
  display: flex;
}

/* Bottom Position */

.eventful-carousel-wrapper .eventful-button-prev.bottom_right,
.eventful-carousel-wrapper .eventful-button-next.bottom_right {
  bottom: 0;
  right: 0;
  top: auto;
}

.eventful-carousel-wrapper .eventful-button-prev.bottom_right {
  right: 44px;
  left: auto;
}

.eventful-carousel-wrapper .eventful-button-prev.bottom_center,
.eventful-carousel-wrapper .eventful-button-next.bottom_center {
  top: auto;
  bottom: 33px;
  left: calc(50% + 5px);
  text-align: center;
}

.eventful-carousel-wrapper .eventful-button-prev.bottom_center {
  right: auto;
  left: calc(50% - 40px);
}

.eventful-carousel-wrapper .eventful-button-prev.bottom_left,
.eventful-carousel-wrapper .eventful-button-next.bottom_left {
  top: auto;
  bottom: 0;
  left: 0;
}

.eventful-carousel-wrapper .eventful-button-next.bottom_left {
  right: auto;
  left: 40px;
}

/* Center outer */

.eventful-carousel-wrapper .eventful-button-next.vertically_center_outer,
.eventful-carousel-wrapper .eventful-button-prev.vertically_center_outer {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -40px;
}

.eventful-carousel-wrapper .eventful-button-next.vertically_center_outer,
.eventful-carousel-wrapper .eventful-button-next.vertical_center_inner_hover {
  right: -40px;
  left: auto;
}

.eventful-carousel-wrapper .eventful-button-prev.vertical_center_inner_hover,
.eventful-carousel-wrapper .eventful-button-next.vertical_center_inner_hover {
  opacity: 0;
}

.eventful-carousel-wrapper .eventful-button-prev.vertical_center_inner_hover {
  right: auto;
  left: -35px;
}

.eventful-carousel-wrapper:hover .eventful-button-next.vertical_center_inner_hover {
  right: 10px;
  opacity: 1;
}

.eventful-carousel-wrapper:hover .eventful-button-prev.vertical_center_inner_hover {
  left: 10px;
  opacity: 1;
}

.eventful-carousel-wrapper .eventful-button-prev.swiper-button-prev i,
.eventful-carousel-wrapper .eventful-button-next.swiper-button-next i {
  line-height: 31px;
}

.eventful-carousel-wrapper .eventful-button-prev.swiper-button-prev:hover,
.eventful-carousel-wrapper .eventful-button-next.swiper-button-next:hover {
  background: #444444;
  color: #fff;
}

/* Bullet pagination */

.eventful-carousel-wrapper
  .swiper-pagination-bullets.dots
  .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  opacity: 1;
}

.eventful-carousel-wrapper
  .swiper-pagination-bullets.number
  .swiper-pagination-bullet {
  margin: 0 4px;
  background: #444;
  padding: 5px 10px;
  border-radius: 0;
  opacity: 1;
  height: 34px;
  color: #fff;
  width: auto;
  min-width: 34px;
  margin: 3px 3px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
}

.eventful-carousel-wrapper
  .swiper-pagination-bullets.number.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  width: 34px;
}

/* post pagination */
.eventful-post-pagination {
  margin-top: 20px;
  margin-bottom: 30px;
}
.eventful-post-pagination a,
.eventful-post-pagination .page-numbers {
  background: #fff;
  color: #5e5e5e;
  border: 2px solid #263ad0;
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: all 0.33s;
  transition: all 0.33s;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
}

.eventful-post-pagination .page-numbers.current,
.eventful-post-pagination a.active {
  cursor: auto;
  color: #fff;
  background: #263ad0;
  border-color: #263ad0;
}
.eventful-load-more button {
  margin-top: 20px;
  box-shadow: none;
  border: none;
  border-radius: 2px;
  padding: 10px 18px;
  background: #263ad0;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}
.eful__item .eful__item__content .read-more,
.eventful-carousel-wrapper .swiper-button-prev::after,
.eventful-carousel-wrapper .swiper-button-next::after,
.eventful-post-pagination a.eful_next.active,
.eventful-post-pagination a.eful_prev.active,
.eventful-hide,
.eventful-post-pagination a.eventful-hide,
.eventful-post-pagination .page-numbers.eventful-hide,
.ta-container .bx-wrapper .bx-loading,
.eventful-order.eventful-bar.fl-btn input,
.eventful-order-by.eventful-bar.fl-btn input,
.eventful-author-filter.eventful-bar.fl_button input,
.eventful-custom-field-filter.eventful-bar.fl_button input,
.eventful-filter-bar .eventful-filter-by.eventful-bar.fl_button input {
  display: none !important;
}

.eventful-infinite-scroll-loader svg {
  stroke: #263ad0;
}
.eventful-post-pagination .page-numbers i {
  font-size: 18px;
}

/**
    * Ajax Preloader.
    */
.eventful-ajax-preloader {
  text-align: center;
}
/* Preloader */
.eventful-preloader {
  background-color: #fff;
  background-image: url(../img/preloader.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  visibility: visible;
}

.ta-container .bx-wrapper {
  box-shadow: none;
  margin-bottom: 0;
  /* direction: rtl; */
}
.bx-wrapper {
  background-color: inherit;
  border: none;
}

/* Filter Bar */
.eventful-filter-bar .eventful-order button:hover {
  background: #263ad0;
  color: #fff;
}

.eventful-filter-bar .eventful-order button {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  border-radius: 5px;
  height: 50px;
  padding: 0;
  width: 100px;
  line-height: 1;
  background: #263ad0;
  color: #fff;
  border: none;
}

.eventful-filter-bar {
  overflow: hidden;
}

.eventful-filter-bar .eventful-bar {
  margin-right: 10px;
  vertical-align: top;
}

.eventful-filter-bar label,
.eventful .eventful-filter-bar label {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin-right: 6px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.eventful-filter-bar .eventful-bar button,
.eventful-filter-bar .eventful-bar select {
  min-width: 180px;
  height: 40px;
  border: 2px solid #bbb;
  padding: 0 9px;
  font-size: 14px;
  overflow: hidden;
  display: inline-block;
}

.eful_ex_filter_bar .eventful-order.eventful-bar.fl-btn p,
.eventful-filter-bar .eventful-bar p {
  padding-bottom: 10px;
  margin-bottom: 0;
  font-size: 21px;
  text-transform: capitalize;
  line-height: 24px;
}

.eventful-filter-bar .eventful-bar {
  margin-bottom: 30px;
}

/* Filter button */
.eventful-bar {
  padding-bottom: 20px;
}

.eventful-slider {
  width: 50%;
  display: inline-block;
  margin-top: 15px;
}

.eventful-order.eventful-bar.fl-btn input:checked ~ div,
.eventful-order-by.eventful-bar.fl-btn input:checked ~ div,
.eventful-author-filter.eventful-bar.fl_button input:checked ~ div,
.eventful-custom-field-filter.eventful-bar.fl_button input:checked ~ div,
.eventful-filter-bar .eventful-filter-by.eventful-bar.fl_button input:checked ~ div {
  background: #263ad0;
  border-color: #263ad0;
  color: #fff;
  cursor: default;
}

.eventful-order.eventful-bar.fl-btn input ~ div,
.eventful-order-by.eventful-bar.fl-btn input ~ div,
.eventful-author-filter.eventful-bar.fl_button input ~ div,
.eventful-custom-field-filter.eventful-bar.fl_button input ~ div,
.eventful-filter-bar .eventful-filter-by.eventful-bar.fl_button input ~ div {
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 700;
  border: 2px solid #bbb;
  text-transform: uppercase;
  text-align: center;
}

.fl_checkbox input {
  margin-right: 5px;
}

.eventful-order.eventful-bar.fl-btn,
.eventful-order-by.eventful-bar.fl-btn,
.eventful-author-filter.eventful-bar.fl_button,
.eventful-custom-field-filter.eventful-bar.fl_button,
.eventful-filter-bar .eventful-filter-by.eventful-bar.fl_button {
  display: block;
  margin: 0;
}

.eventful-order.eventful-bar.fl-btn .fl_radio,
.eventful-order-by.eventful-bar.fl-btn .fl_radio,
.eventful-author-filter.eventful-bar.fl_button .fl_radio,
.eventful-custom-field-filter.eventful-bar.fl_button .fl_radio,
.eventful-filter-bar .eventful-filter-by.eventful-bar.fl_button .fl_radio {
  display: inline-block;
}

.eventful-filter-bar .eventful-filter-by.eventful-bar.fl_checkbox label {
  display: block;
}

.eful_ex_filter_bar .eventful-order.eventful-bar.fl-btn .fl_radio {
  margin: 0px 8px 8px 0px;
}

.eful_ex_filter_bar .eventful-order.eventful-bar.fl-btn p {
  margin-bottom: 10px;
}

.eventful-ajax-search.eventful-bar input {
  background: #fff;
  background: #ffffff;
  color: #5e5e5e;
  border-color: #bbbbbb;
  height: 40px;
  font-size: 14px;
  border: 2px solid #bbbbbb;
  margin-left: 5px;
}

.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* Left Thumb right content */

.eful__item.left-thumb {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-direction: unset;
  /* width: 100%; */
}

.eful__item.left-thumb .eful__item__details {
  margin-left: 20px;
}

.eful__item.left-thumb .eful__item--thumbnail {
  order: unset;
  /* flex: 0 0 40%; */
  margin: 0;
  max-width: 40%;
}

/* Right Thumb left content */

.eful__item.right-thumb {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-direction: row-reverse;
  /* width: 100%; */
}

.eful__item.right-thumb .eful__item--thumbnail {
  order: unset;
  flex: 0 0 40%;
  margin: 0;
}

.eful__item.right-thumb .eful__item__details {
  text-align: right;
  margin-right: 20px;
}

/* Content Over Post Thumb */
.eful__item.ta-overlay {
  position: relative;
  overflow: hidden;
}
.eful__item.ta-overlay::after {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #14141f;
  opacity: 0.7;
  position: absolute;
}

.eful__item.ta-overlay .eful__item--thumbnail {
  margin-bottom: 0;
}

.eful__item.ta-overlay .eful__item__details {
  position: absolute;
  height: auto;
  width: auto;
  bottom: 0;
  left: 0;
  top: auto;
  right: 0;
  padding: 15px;
  border-radius: 5px;
  z-index: 2;
}
.eful__item.ta-overlay .eful__item__details .eful__item--title {
  color: #fff;
}
.eful__item.ta-overlay .eful__item__details .eful__item__content p {
  color: #fff;
  margin-bottom: 10px;
}
