
/* Grid CSS */
.ta-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }
  
  .ta-row.no-gutters > [class*="ta-col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  
  .ta-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
  }
  
  .ta-row [class*="ta-col-"] {
    /* position: relative; */
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  
  @media (min-width: 1200px) {
    .ta-row .ta-col-xl-1 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .ta-row .ta-col-xl-2 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .ta-row .ta-col-xl-3 {
      flex: 0 0 33.22222222%;
      max-width: 33.22222222%;
    }
    .ta-row .ta-col-xl-4 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .ta-row .ta-col-xl-5 {
      flex: 0 0 20%;
      max-width: 20%;
    }
    .ta-row .ta-col-xl-6 {
      flex: 0 0 16.66666666666667%;
      max-width: 16.66666666666667%;
    }
    .ta-row .ta-col-xl-7 {
      flex: 0 0 14.28571428%;
      max-width: 14.28571428%;
    }
    .ta-row .ta-col-xl-8 {
      flex: 0 0 12.5%;
      max-width: 12.5%;
    }
  }
  
  @media (max-width: 1200px) {
    .ta-row .ta-col-lg-1 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .ta-row .ta-col-lg-2 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .ta-row .ta-col-lg-3 {
      flex: 0 0 33.22222222%;
      max-width: 33.22222222%;
    }
    .ta-row .ta-col-lg-4 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .ta-row .ta-col-lg-5 {
      flex: 0 0 20%;
      max-width: 20%;
    }
    .ta-row .ta-col-lg-6 {
      flex: 0 0 16.66666666666667%;
      max-width: 16.66666666666667%;
    }
    .ta-row .ta-col-lg-7 {
      flex: 0 0 14.28571428%;
      max-width: 14.28571428%;
    }
    .ta-row .ta-col-lg-8 {
      flex: 0 0 12.5%;
      max-width: 12.5%;
    }
  }
  
  @media (max-width: 992px) {
    .ta-row .ta-col-md-1 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .ta-row .ta-col-md-2 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .ta-row .ta-col-md-2-5 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .ta-row .ta-col-md-3 {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
    .ta-row .ta-col-md-4 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .ta-row .ta-col-md-5 {
      flex: 0 0 20%;
      max-width: 20%;
    }
    .ta-row .ta-col-md-6 {
      flex: 0 0 16.66666666666667%;
      max-width: 16.66666666666667%;
    }
    .ta-row .ta-col-md-7 {
      flex: 0 0 14.28571428%;
      max-width: 14.28571428%;
    }
    .ta-row .ta-col-md-8 {
      flex: 0 0 12.5%;
      max-width: 12.5%;
    }
  }
  
  @media (max-width: 768px) {
    .ta-row .ta-col-sm-1 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .ta-row .ta-col-sm-2 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .ta-row .ta-col-sm-2-5 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .ta-row .ta-col-sm-3 {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
    .ta-row .ta-col-sm-4 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .ta-row .ta-col-sm-5 {
      flex: 0 0 20%;
      max-width: 20%;
    }
    .ta-row .ta-col-sm-6 {
      flex: 0 0 16.66666666666667%;
      max-width: 16.66666666666667%;
    }
    .ta-row .ta-col-sm-7 {
      flex: 0 0 14.28571428%;
      max-width: 14.28571428%;
    }
    .ta-row .ta-col-sm-8 {
      flex: 0 0 12.5%;
      max-width: 12.5%;
    }
  }
  .eventful-post-pagination.eventful-on-mobile {
    display: none;
  }
  @media (max-width: 420px) {
    .ta-row .ta-col-xs-1 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .ta-row .ta-col-xs-2 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .ta-row .ta-col-xs-3 {
      flex: 0 0 33.22222222%;
      max-width: 33.22222222%;
    }
    .ta-row .ta-col-xs-4 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .ta-row .ta-col-xs-5 {
      flex: 0 0 20%;
      max-width: 20%;
    }
    .ta-row .ta-col-xs-6 {
      flex: 0 0 16.66666666666667%;
      max-width: 16.66666666666667%;
    }
    .ta-row .ta-col-xs-7 {
      flex: 0 0 14.28571428%;
      max-width: 14.28571428%;
    }
    .ta-row .ta-col-xs-8 {
      flex: 0 0 12.5%;
      max-width: 12.5%;
    }
    .eventful-post-pagination.eventful-on-mobile:not(.eventful-hide) {
      display: block;
    }
    .eventful-post-pagination:not(.eventful-on-mobile) {
      display: none;
    }
  }
  